.main{
display:block;
}

.first{
height:100px;
width:100px;
margin-top:10px;
background:#FF7A59;
opacity:1;
}
.second{
height:100px;
width:100px;
margin-top:10px;
background:#FF7A59;
opacity:0.8;
}
.third{
height:100px;
width:100px;
margin-top:10px;
background:#FF7A59;
opacity:0.6;
}
.fourth{
height:100px;
width:100px;
margin-top:10px;
background:#FF7A59;
opacity:0.4;
}
.fifth{
height:100px;
width:100px;
margin-top:10px;
background:#FF7A59;
opacity:0.2;
}
.sixth{
height:100px;
width:100px;
margin-top:10px;
background:#FF7A59;
opacity:0;
}